# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Plugin Related
search_result.txt
search_result2.txt
AC_unveil.code-workspace
/AC_LoadModDLL/old/**
/AC_LoadModDLL/.vscode/**
/AC_LoadModDLL/.specstory/**
*.bak
/.vscode/**
AC_unveil_lua.code-workspace2.code-workspace
.vscode/launch.json
/AC_LoadModDLL/obj/**
/AC_LoadModDLL/bin/**
/AC_LoadModDLL/obj/Release/**
/AC_LoadModDLL/obj/Release/net6.0/**
